<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptas
        explicabo dolor fugiat iure iusto enim et numquam earum quo, quas velit,
        atque adipisci repellat asperiores, optio laborum sunt! Distinctio.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptas
        explicabo dolor fugiat iure iusto enim et numquam earum quo, quas velit,
        atque adipisci repellat asperiores, optio laborum sunt! Distinctio.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptas
        explicabo dolor fugiat iure iusto enim et numquam earum quo, quas velit,
        atque adipisci repellat asperiores, optio laborum sunt! Distinctio.
      </p>
    </div>

    <%- include('./partials/footer.ejs'); %>

  </body>
</html>
